.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.237);
  color: white;
  /* border: solid black 3px; */
  border-radius: 20px;
  padding: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}
.grid {
  width: 80%;
  margin: auto;
  display: grid;
  gap: 0.5rem 1rem;
  /* justify-content: yy; */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  grid-auto-rows: 240px;
}
